<p id = "exomeName">{{name}}</p>
<div id = "buttonArea">
    <button mat-button id = "downloadButton" type="submit" (click) = "downloadExomeFile()">
        Download
        <img id = "buttonImage" src="assets/images/download-flat.png"/>
    </button>
    <button mat-button id = "deleteButton" type="submit" (click) = "openDeleteDialog()">
        Delete
        <img id = "buttonImage" src="assets/images/delete-x-icon.png"/>
    </button>
</div>
<p id = "incidentialDiscoveries"> Incidential discoveries </p>
