.flex-container{
    padding: 0;
    margin-top: 1%;
    display: flex;
}

#messageParagraph{
    position:absolute;
    margin-top:0.5%;
    left:20%;
    text-size-adjust: 20px;
    font-size: 18px;
}

#geneNameInput{
    margin-top:0.05%;
    position:absolute;
    width: 15%;
    height:4%;
    left:42.5%;
}

#searchButton{
    background-color: rgba(255, 154, 31, 0.959);
    color: white;
    position:absolute;
    left:60%;
}

#searchButton:hover{
    background-color: rgba(255, 140, 0, 0.959)
}