
#popUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myButton{
    background-color:#005691;
    color:white;
    position: absolute;
    margin-top:30%;
    border-radius: 5px;
    width: 50%;
}
.myButton:hover{
    background-color:#036aaf;
}