
#popUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myButton{
    background-color:rgb(52, 91, 211);
    color:white;
    position: absolute;
    margin-top:30%;
    border-radius: 5px;
    width: 50%;
}
.myButton:hover{
    background-color:rgb(20, 64, 194);
}