#geneFrequencyButton{
    background-color: rgb(66, 66, 66);
    color: white;
    margin-left:1%;
}

#geneFrequencyButton:hover{
    background-color: rgb(104, 104, 104);
}

#databaseButton{
    background-color: rgb(66, 66, 66);
    color: white;
    margin-left:1%;
}

#databaseButton:hover{
    background-color: rgb(104, 104, 104);
}

mat-toolbar{
    background-color: rgb(39, 39, 39);
}